<!DOCTYPE html>
<html>
  <%- include('./partials/head')  %> 
  <body class="index">
    <%- include('./partials/header')  %> 
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="8000">
          <img src="/images/cine-carrusel2.jpg" class="d-block w-100" alt="carrusel2">
          <div class="container-item">
            <h1>Desarrollo de SOFTWARE</h1>
            <p>- Aplicaciones de ESCRITORIO 
              - Aplicaciones y Diseño de sitios WEB 
              - Integración de sistemas</p>
            <button>VER MÁS</button>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <img src="/images/cocteleria-carrusel.jpg" class="d-block w-100" alt="carrusel1">
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <img src="/images/cine-carrusel3.jpg" class="d-block w-100" alt="carrusel1">
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>

    <%- include('./partials/footer')  %>
    <%- include('./partials/scripts')  %>
  </body>
</html>
